[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-learn = "*"
imblearn = "*"
tqdm = "*"
torch = "*"
pandas = "*"
matplotlib = "*"

[dev-packages]
torch = "*"

[requires]
python_version = "3.10"
